@font-face {
    font-family: 'Chakra Petch';
    src: url(fonts/ChakraPetch-SemiBoldItalic.ttf);
}


html {
  height: 100%;  
  background-color: #2A3139;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body { 
    height: 100%;
    margin: 0; 
    padding: 0;
}

.stretch-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    padding: 10px 22px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 20vh;
}



.status {
    margin: 20px;
}

#statusIndicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 6px;
    margin-bottom: 1px;
    background-color: #FF003D;
}

#picker, .power-button {
    opacity: .5;
    pointer-events: none;
}

.power-button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#IPOverride {
    padding: 20px;
}

#IPInput {
    width: 40px;
    outline: none;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: #6a7b8d;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
}

#submitIP {
    background-color: #00FF90;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 4px;
    outline: none;
    font-weight: bold;;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}